<body>
    <header>
        <nav class="searchbar">
            <a href="/" class="searchbar__btn">Pokédex</a>
            <form class="searchbar__btn" action="/search/name" method="get">
                <input type="text" placeholder="Rechercher un nom..." name="name" class="searchbar__btn">
            </form>
            <a href="/bookmarks" class="searchbar__btn">Mes favoris</a>
            <a href="/types" class="searchbar__btn">Types</a>
        </nav>
    </header>